.f-img {
    width: 70%;
    height: auto;
    position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%);
}
.box-x {
    padding-top: 5vh;
}
.box-2 {
    background-color: #0F2231;
}
.logo {
    width: 200px;
    height: 141px;
}
.txt-1 {
    color: #fff;
    position: relative;
}
.txt-1::after {
    top: 40px;
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #aabbd7;
    bottom: 0;
    left: calc(50% - 25px);
}
.txt-2 {
    color: #fff;
    font-size: 1.2rem;
}
.txt-3 {
    color: #fff;
}
.txt-5 {
    color: #fff;
    font-size: 1.2rem;
}

.btn-1 {
    background-color: #f2cb05;
    width: 100%;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
}
.btn-1:hover {
    background-color: #fff;
    color: #f2cb05;
}
.login-snip {
    width: 80%;
    margin: auto;
    text-align: center;
}

.login-snip .login,
.login-snip .sign-up-form {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all 0.4s linear;
}

.login-snip .sign-in,
.login-snip .sign-up {
    display: none;
}

.signin {
    height: auto;
}

.login-snip .tab {
    font-weight: 500;
    color: #6e8ca0;
    text-align: center;
    width: 49%;
    font-size: 16px;
    padding-bottom: 5px;
    display: inline-block;
    border-bottom: 2px solid transparent;
    border-color: #2b3c49;
}

.login-snip .sign-in:checked + .tab,
.login-snip .sign-up:checked + .tab {
    color: #fff;
    border-color: #f2cb05;
}

.login-space {
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d;
}

.login-space .group {
    margin-bottom: 15px;
}

.login-space .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0);
}

.login-space .group label .icon:after {
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0);
}

.login-space .group .check:checked + label {
    color: #fff;
}

.login-space .group .check:checked + label .icon {
    background: #1161ee;
}

.login-space .group .check:checked + label .icon:before {
    transform: scale(1) rotate(45deg);
}

.login-space .group .check:checked + label .icon:after {
    transform: scale(1) rotate(-45deg);
}

.login-snip .sign-in:checked + .tab + .sign-up + .tab + .login-space .login {
    transform: rotate(0);
}

.login-snip .sign-up:checked + .tab + .login-space .sign-up-form {
    transform: rotate(0);
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
}

.form-01 {
    background-color: #2b3c49;
    color: white !important;
    border: 1px solid #2b3c49;
    text-align: left;
}
.form-01:focus {
    background-color: #2b3c49;
}


.form-label-group {
    position: relative;
    margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
    height: auto;
}

.form-label-group > label {
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    cursor: text;
    color: #6D8B9F;
    /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
    color: #6D8B9F;
}

/* Fallback for Edge
  -------------------------------------------------- */

@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #6D8B9F;
    }
}

/* Fallback for IE
  -------------------------------------------------- */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}


input[type="password"]::-ms-reveal {
    display: none;
}

.input-group {
    position: relative;
    width: 100%;
}
.toggle {
    background: none;
    border: none;
    color: #6d8b9f;
    /*display: none;*/
    /*font-size: .9em;*/
    font-weight: 600;
    /*padding: .5em;*/
    position: absolute;
    right: 0.75em;
    top: 0.8em;
    z-index: 9;
}

.fa {
    font-size: 20px;
}
input[type="password"]::-ms-reveal {
    display: none;
}
.btn {
    margin-top: 1.75em;
}
.input-group {
    position: relative;
    width: 100%;
}
.toggle {
    background: none;
    border: none;
    color: #6d8b9f;
    /*display: none;*/
    /*font-size: .9em;*/
    font-weight: 600;
    /*padding: .5em;*/
    position: absolute;
    right: 0.75em;
    top: 0.8em;
    z-index: 9;
}

.fa {
    font-size: 20px;
}

.check-1-label {
    color: #6d8b9f;
}


.custom-checkbox {
    color: #6e8ca0;
    display: flex;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    justify-content: flex-start;
    align-items: center;
}

/* Hide the browser's default checkbox */
.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid #6e8ca0;
    border-radius: 2px;
    align-self: center;
}

/* On mouse-over, add a grey background color */
.custom-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox input:checked ~ .checkmark {
    background-color: #f2cb05;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.x-1 {
    top: 3px !important;
}
.i-1 {
    width: 35px;
    opacity: 0.5;
}
.i-2 {
    font-size: 12px !important;
    color: #f2cb05;
}
.i-3 {
    margin-top: 15px;
    width: 40px;
    height: 40px;
    color: white;
    margin-bottom: 20px;
}
.txt-7 {
    font-size: 24px;
    color: white;
    text-align: right;
    margin-bottom: -25px;
}
.txt-8 {
    font-size: 12px;
    color: white;
    margin-bottom: 5px !important;
    padding-left: 8px;
    text-align: left;
}
.list-1 {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 20px;
}
.btn-3 {
    background-color: #f2cb05;
    width: 80%;
    text-align: center;
    color: white;
    border: none;
    border-radius: 5px;
    height: 40px;
    margin: auto;
}
.btn-3:hover {
    background-color: #fff;
    color: #f2cb05;
}
.line {
    width: 100%;
    height: 1px;
    margin-top: 15px;
    background-color: white;
}
.txt-05 {
    font-size: 2.5rem;
    font-weight: 700;
}
.flex {
    display: flex !important;
}

.card-2 {
    background-color: #0D1E2B;
    box-shadow: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    opacity: 0.8;
}
.card-2:hover {
    opacity: 1;
    transform: scale(1.05);
}
.card-box {
    display: flex;
}
.card-2 .card-header {
    border-bottom: none;
}
.desktop-inner {
    min-height: 100vh;
}
.mobile {
    background-color: #0F2231;
    min-height: 100vh;
    padding-bottom: 20px;
}
.mobile .logo {
    width: 150px;
}
.card-1 {
    width: 100%;
    max-width: 340px;
    margin: auto;
    background-color: #0E202F;
    box-shadow: none !important;
    margin-bottom: 15px;
}
.card-1:hover .txt-03 {
    color: white !important;
}
.card-1:hover .txt-04 {
    color: white !important;
}
.card-1:hover .btn-2 {
    color: white !important;
}
.card-1:hover .i-1 {
    opacity: 1 !important;
}
.card-1:hover {
    background-color: #0D1E2B;
}
.card-1 .card-body {
    padding: 10px 20px;
}
.txt-03 {
    font-size: 16px !important;
    color: #69757F;
    font-weight: 700;
}
.btn-2 {
    background-color: #0F2231;
    border: none;
    border-radius: 50%;
    padding: 15px;
    color: #69757F;
}
.register-content {
    min-height: 100vh;
}